@use "sass:math";

// Mixin
@import "_mixin.scss";

@import "_variables.scss";

// Reset
@import "_reset.scss";

// Fonts
@import "_fonts.scss";

// Google Fonts (Plugin)
@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500&display=swap");

@import "_header.scss";
@import "_hero.scss";
@import "_demo.scss";
@import "_works.scss";
@import "_benefits.scss";
@import "_recepies.scss";
@import "_testimonials.scss";
@import "_pricing.scss";
@import "_healthy.scss";
@import "_faq.scss";
@import "_assistance.scss";
@import "_footer.scss";

@import "_components.scss";

/* Base styles */
html,
body {
	height: 100%;

	.menu-open & {
		overflow: hidden;
	}
}

body {
	font-family: "Work Sans", sans-serif;
	font-size: toRem(22);
	line-height: 1.2;
	color: var(--green-color);
	background: #fff;
}

/* Sticky footer */
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 1 auto;
}

/* Container */
[class*="__container"] {
	max-width: toRem(1670);
	margin: 0 auto;
	padding-inline: toRem(15);
}
